body {
  font-size: 14px;
  line-height: 22px;
  color: black;
  overflow-y: scroll;
}

a {
  text-decoration: underline;
  cursor: pointer;
  color: black;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 230px;
  overflow-y: scroll;
  padding: 10px 0 30px 30px;
  border-right: 1px solid #bbb;
  box-shadow: 0 0 20px #ccc;
  -webkit-box-shadow: 0 0 20px #ccc;
  -moz-box-shadow: 0 0 20px #ccc;
  transition: .3s;
  -webkit-overflow-scrolling: touch;
}

.sidebar__header {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

small {
  font-size: 14px;
  font-weight: normal;
}

.sidebar__title {
  display: block;
  color: black;
  font-weight: bold;
  margin-top: 15px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar ul ul li:before {
  content: "–";
  display: inline-block;
  margin-right: 5px;
}

.sidebar ul ul li a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  line-height: 14px;
}

.sidebar ul ul li a:hover {
  text-decoration: underline;
}

.sidebar__head .sidebar__title {
  font-size: 18px;
  text-decoration: none;
}

.content {
  transition: .3s;
  padding-left: 10px;
  -webkit-overflow-scrolling: touch;
  padding-left: 230px;
}

.layout {
  padding: 30px;
  width: 660px;
}

h1 {
  font-size: 30px;
  margin: 0.67em 0;
  color: black;
}

h2 {
  margin-top: 40px;
}

.hot {
  color: red;
  margin-left: 5px;
}

.table th,
.table td {
  text-align: left;
  padding: 5px 10px;
}

.green {
  color: green;
}

.sidebar-toggle {
  position: fixed;
  z-index: 1;
  top: 0;
  padding: 5px;
  left: 180px;
  background: white;
  cursor: pointer;
  transition: .3s;
}
.sidebar-toggle:hover img {
  opacity: .5;
}
.sidebar-toggle img {
  display: block;
}

.toggled .content {
  padding-left: 10px;
}

.toggled .sidebar {
  margin-left: -230px;
}

.toggled .sidebar-toggle {
  left: 0;
  box-shadow: 0px 0px 3px rgba(0,0,0,.2);
}

.content i {
  color: green;
}